{% load static %}
<link rel='stylesheet' href='{% static "styles.css" %}'>
<link href="https://fonts.googleapis.com/css?family=Hind+Madurai" rel="stylesheet">
<main class="grid-container">
    <div class="title">
        <h1>Pokedex</h1>
    </div>
    <div class="pokemon">
        <div class="pokename"><h2>Bulbasaour</h2></div>
        <div class="pokecontent">
            <a href="http://pokemondb.net/pokedex/bulbasaur"><img src="https://img.pokemondb.net/sprites/x-y/normal/bulbasaur.png" alt="Bulbasaur"></a>
        </div>
    </div>

    <div class="pokemon">
        <div class="pokename"><h2>Charmander</h2></div>
        <div class="pokecontent">
            <a href="http://pokemondb.net/pokedex/charmander"><img src="https://img.pokemondb.net/sprites/x-y/normal/charmander.png" alt="Charmander"></a>
        </div>
    </div>

    
</main>
<right>

</right>